body {
  margin: 0;
  font-family: sans-serif;
  background-color: #bccda0;
}

.container {
  display: flex;
  
  max-width: 800px;
  margin: 40px auto;
  background: rgb(231, 212, 212);
  padding: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.info {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.photo {
  flex: 1;
  min-width: 200px;
  text-align: center;
  padding: 20px;
}

.photo img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
}
